.main {
  font-family: Helvetica, sans-serif;
  position: relative;
}
.title {
  margin-top: 70px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #240d57;
}
.snapchat {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.description {
  width: 321px;
  height: 36px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #4f4f4f;
}
.landing-img {
  width: 165.63px;
  height: 292px;
  display: block;
  margin: 50px auto;
}

.btn {
  padding: 10px;
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 187px;
  height: 50px;
  font-size: 16px;
  text-align: center;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
}
.btn:hover {
  cursor: pointer;
}
